:host {
  --y: 90px;
}

table {
  table-layout: fixed;
}


/*** 테이블 헤더 고정 ***/
.fixed_header th {
  position: sticky;
  top: 0;
  background-color: #fff;
}

/*** /테이블 헤더 고정 ***/


.preview__button {
  color: red;
  background-color: #f0e5e5;
  border: 1px solid #e0cccc;
  position: absolute;
  top: 5px;
  right: 30px;
  border-radius: 3px;
  z-index: 3;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  padding: 5px 30px;
}

.excel {
  color: red;
  background-color: #f0e5e5;
  border: 1px solid #e0cccc;
  position: absolute;
  top: 5px;
  right: 160px;
  border-radius: 3px;
  z-index: 3;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  padding: 5px 30px;
}

h2 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}



.save_mute {
  cursor: pointer;
  vertical-align: middle;
  background-color: lightblue;
}

.btn-s.blue {
  cursor: pointer;
  vertical-align: middle;
  background-color: lightblue;
  border-radius: 3px;
}

.modal-overlay {
  display: inline-block;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(51, 51, 51, 0.7);
  z-index: 10;
}

.modal-body {
  position: absolute;
  width: 90vw;
  max-width: 90vw;
  max-height: 95vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  border: 1px solid black;
  box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.14), 0 4px 8px -1px rgba(0, 0, 0, 0.12);
}

.textcenter {
  text-align: center;
}

.trash:hover {
  cursor: pointer;
}



.tdbox {

  width: 96%;
}

/*
*/
/*
*/

.btn-s {
  padding: 0 !important;
  min-width: 50px !important;
  min-height: auto !important;
}

.input_02 {
  width: 80%;
}
