<div id="result">
  <div id="container">
    <h2>MDS/MPN NGS</h2>
    <div id="content">
        <div class="box pd_20">
            <app-filtered [tsvLists]="tsvLists"></app-filtered>
            <div class="sub_title">Patient: {{patientInfo.name}}, {{patientInfo.patientID}} ({{patientInfo.gender}}/{{patientInfo.age}})</div>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                  <td class="txt_02" ><span class="fb">Result </span>:
                      <input type="radio" id="vertical-radio2" name="radio-full" value="detected" [checked]="radioStatus('detected')" class="clr-radio"  (change)="result($event)">
                      <label for="vertical-radio2" class="  clr-col-12 clr-col-md-2">Detected</label>
                      &nbsp;&nbsp;
                      <input type="radio" id="vertical-radio1" name="radio-full" value="notdetected" class="clr-radio"  (change)="result($event)" [checked]="radioStatus('notdetected')">
                      <label for="vertical-radio1" class="  clr-col-12 clr-col-md-2">Not Detected</label>
                  </td>
                  <td rowspan="2" class="main_btn">
                      <ul>
                          <li>
                              <button type="button" class=" preview__button" (click)="previewToggle()">미리보기</button>
                          </li>
                      </ul>
                  </td>
              </tr>
              <tr>
                  <td class="txt_02"> Other molecular and cytogenetic profiles</td>
              </tr>
          </table>
          <div style="margin-top:5px;"></div>
          <table width="100%" cellpadding="0" cellspacing="0" class="table_result">
              <colgroup>
                <col style="width:33%;" />
              <col style="widows: 33px;%;" />
              <col style="width:33%;" />
              </colgroup>
              <thead>
                  <tr>
                      <th class="table_result_line">Diagnosis</th>
                      <th>Genetic test</th>
                      <th>Chromosomal analysis</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td class="table_result_line">
                          <input type="text" class="input_02" size="40"
                          [(ngModel)]= "profile.leukemia" [ngModelOptions]="{standalone: true}">
                      </td>
                      <td class="table_result_line">
                          <input type="text" class="input_02" size="30"
                          [(ngModel)]="profile.flt3itd" [ngModelOptions]="{standalone: true}">
                      </td>
                      <td>
                          <input type="text" class="input_02" size="90"
                          [(ngModel)]="profile.chron" [ngModelOptions]="{standalone: true}">
                      </td>
                  </tr>
              </tbody>
          </table>
  
             
            <div class="sub_title">Test Information</div>
            <table cellpadding="0" cellspacing="0" class="table_result02">
                <colgroup>
                <col style="width:50%;" />
                <col style="width:50%;" />
                </colgroup>
                <tbody>
                    <tr>
                        <td>TARGET DISEASE:Acute myeloid leukkemia</td>
                        <td>METHOD:*Massively parallel sequencing</td>
                    </tr>
                    <tr>
                        <td>SPECIMEN: Genomic DNA isolated from {{specimenMsg}}</td>
                        <td>REQUEST: {{patientInfo.request}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="sub_title">Detected variants</div>
  <div class="box pd_20">
            <div class="box_100">
  <!--    -------------------------------------                     -->
                <form [formGroup]="tablerowForm"> 
                  <table class="table table-margin-top">
                    <thead>
                        <tr>
                            <th></th>
                            <th>IGV</th>
                            <th>Sanger</th>
                            <th>Type</th>                  
                            <th>Gene</th>
                            <th>Functional Impact</th>
                            <th>Transcript</th>
                            <th>Exon/Intron</th>  
                            <th>Nuceleotide change</th>    
                            <th>Amino acid change</th> 
                            <th>Zygosity</th>
                            <th>VAF %</th> 
                            <th>Reference(s)</th>      
                            <th>COSMIC ID</th> 
                            <th>
                              <button class="btn btn-success" (click)="addRow()">추가</button>
                            </th> 
                            <th>Site</th>
                            <th>Action</th>                        
                        </tr>
                    </thead>
                    <tbody>
                       
                      <ng-container formArrayName="tableRows" *ngFor="let group of getFormControls.controls; let i=index">
                        <tr  [formGroupName]="i">
                           <td><input type="checkbox"   checked (change)="boxstatus(i, $event)"></td> 
                          <td><input type="text" size="10"  class="clr-input"  formControlName="igv"></td>
                          <td><input type="text" size="10"  class="clr-input"  formControlName="sanger"></td>
                          <td><input type="text" size="10"  class="clr-input"  formControlName="type"></td>
                          <td><input type="text" size="10"  class="clr-input" formControlName="gene"></td>
                          <td><input type="text" size="10"  class="clr-input" formControlName="functionalImpact"></td>
                          <td><input type="text" size="10"  class="clr-input" formControlName="transcript"></td> 
                          <td><input type="text" size="10"  class="clr-input" formControlName="exonIntro"></td>
                          <td><input type="text" size="10"  class="clr-input" formControlName="nucleotideChange"></td>
                          <td><input type="text" size="10"  class="clr-input" formControlName="aminoAcidChange"></td>
                          <td><input type="text" size="10"  class="clr-input" formControlName="zygosity"></td>
                          <td><input type="text" size="10"  class="clr-input" formControlName="vafPercent"></td>
                          <td><input type="text" size="10"  class="clr-input" formControlName="references"></td>
                          <td><input type="text" size="10"  class="clr-input" formControlName="cosmicID"></td>
                          <td class="trash"  (click)="deleteRow(i)">&#10006;</td>
                          <td>
                            <select clrSelect name="options" (change)="saveInhouse(i, inhouse.value)" 
                            *ngIf="checkType(i)" #inhouse>
                              <option value="mutation" selected>Mutation</option>
                              <option value="artifacts">Artifacts</option>
                              <option value="benign">Benign</option>
                            </select>                    
                          </td>
                          <td  (click)="save(i)" *ngIf="checkType(i)"  class="save_mute">저장</td>  
                          </tr>                               
                        </ng-container>
                        <!-- <tr>
                          <td colspan="11" class="table_result_line">
                          <textarea style="width:98%"class="textarea_01">VUS는 ExAC, KRGDB등의 Population database에서 관철되지 않았거나, 임상적 의의가 불분명합니다.                 해당변이의 의의를 명확히 하기 위하여 환자의 buccal swab 검체로 germline variant 여부에 대한 확인이 필요 합니다.</textarea></td>
                      </tr> -->
                    </tbody>
                  </table>
              
                </form>
  <!---  ---------------------------   -->
    </div>
    <div>
      <div  class="font_14 pd_t15" *ngIf="vusstatus">
          <textarea style="width:98%"class="textarea_01">VUS는 ExAC, KRGDB등의 Population database에서 관철되지 않았거나, 임상적 의의가 불분명합니다. 해당변이의 의의를 명확히 하기 위하여 환자의 buccal swab 검체로 germline variant 여부에 대한 확인이 필요 합니다.</textarea>
        </div>
    </div>
  
    </div>
  
    <div>
    <div *ngIf="comments.length;  else commentbox; " style="overflow: scroll-y">
      <div class="sub_title" >Comments</div>   
      <form [formGroup]="tablerowForm">            
          <table width="100%" cellpadding="0" cellspacing="0" class="table_result">
             <colgroup>
              <col style="width:10%;" />
              <col style="width:25%;" />
              <col style="width:30%;" />
              <col style="width:30%;" />
              <col style="width:5%;" />
             </colgroup>  
            <thead>
                <tr>
                    <th class="table_result_line">Gene</th>
                    <th >Variants</th>
                    <th> Comments</th>
                    <th >Reference</th>
                    <th><button class="btn btn-success" (click)="addNewCommentRow()">추가</button></th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr *ngFor="let comment of comments;"> -->
                <ng-container formArrayName="commentsRows" *ngFor="let group of commentsRows().controls; let i=index">
                    <tr  [formGroupName]="i">
                      <td class="table_result_line"  ><input type="text" style="width:88%" class="input_02" size="10" formControlName="gene" ></td>
                      <td><input type="text" style="width:88%" class="input_02" size="10" formControlName="variants"></td>
                      <td class="textarea01"><textarea style="width:96%"class="textarea_01" formControlName="comment"></textarea></td>
                      <td class="textarea01"><textarea style="width:96%"class="textarea_01" formControlName="reference"></textarea></td> 
                      <td  align="center">
                          <img [src]="'assets/images/cancel.png'" (click)="removeCommentRow(i)">
                      </td>
                    </tr>
               </ng-container>
            </tbody>
          </table>
      </form>    
    </div>
  </div>
    <ng-template  #commentbox> 
        
      <div class="sub_title" >Comments</div>  
      <form [formGroup]="singleCommentForm">         
      <table width="100%" cellpadding="0" cellspacing="0" class="table_result">
          <colgroup>
              <col style="width:10%;" />
              <col style="width:25%;" />
              <col style="width:30%;" />
              <col style="width:30%;" />
              <col style="width:5%;" />
          </colgroup>            
        <thead>
            <tr>
                <th class="table_result_line">Gene</th>
                <th >Variants</th>
                <th> Comments</th>
                <th >Reference</th>
                <th><button class="btn btn-success" (click)="addNewSingleCommentRow()">추가</button></th>
            </tr>
        </thead>
        <tbody>
            
              <ng-container formArrayName="singleComments" *ngFor="let group of singleCommentsRows().controls; let i=index">               
                <tr  [formGroupName]="i">
                    <td class="table_result_line"  ><input type="text" style="width:88%" 
                      class="input_02"   size="10" formControlName="gene"></td>
                    <td>
                        <input type="text" style="width:88%" class="input_02"  formControlName="variants"   size="10">
                    </td>
                    <td class="textarea01">
                        <textarea style="width:96%"  formControlName="comment" class="textarea_01"></textarea>
                    </td>
                    <td class="textarea01">
                        <textarea style="width:96%" formControlName="reference" class="textarea_01"></textarea>
                    </td>
                    <td align="center">
                      <img [src]="'assets/images/cancel.png'" (click)="removeSingleCommentRow(i)">
                    </td>
                </tr>
            </ng-container>
          
        </tbody>
    </table> 
    </form>         
    </ng-template>
  <!--     -->
            <div class="sub_title">*Methods</div>
            <div class="pd_r20">
                <textarea class="textarea_01">Total genomic DNA was extracted from the each sample. Template and automated libraries were prepared on the Ion Chef System(Thermo Fisher Scientific) and subsequently sequenced on the Ion S5 system (Thermo Fisher Scientific) with the Ion 530 Chip kit. Alignment of sequences to the reference human genome (GRCh37/hg19) and base calling were performed using the Torrent Suite software version 5.8.0 (Thermo Fisher Scientific). The Torrent Variant Caller v5.8.0.19 (Thermo Fisher Scientific) was used for calling variants from mapped reads and the called variants were annotated by the Ion Reporter software v5.6. </textarea>
            </div>
            <div class="sub_title">Genernal limitations of the technique</div>
            <div class="pd_r20">
                <textarea class="textarea_01">The analysis was optimised to identify base pair substitutions with a high sensitivity. The sensitivity for small insertions and deletions was lower. Deep-intronic mutations, mutations in the promoter region, repeats, large exonic deletions and duplications, and other structural variants were not detected by this test. Evaluation of germline mutation can be performed using buccal swab speciman.</textarea>
            </div>
            <div class="sub_title">Target genes</div>
            <table cellpadding="0" cellspacing="0" class="table_result02">
                <colgroup>
                <col style="width:10%;" />
                <col style="width:10%;" />
                <col style="width:10%;" />
                <col style="width:10%;" />
                <col style="width:10%;" />
                <col style="width:10%;" />
                <col style="width:10%;" />
                <col style="width:10%;" />
                <col style="width:10%;" />
                <col style="width:10%;" />
                </colgroup>
                <tr>
                  <td>ASXL1</td>
                  <td>SRSF2</td>
                  <td>BRCC3</td> 
                  <td>DNMT1</td>
                  <td>GATA2</td>
                  <td>KIT</td>
                  <td>MN1</td>
                  <td>OCA2</td>
                  <td>RINT1</td>
                  <td></td>                  
              </tr>
              <tr>
                <td>CALR</td>
                <td>TET2</td>
                <td>CBL</td>
                <td>EGFR</td>
                <td>GNAS</td>
                <td>KMT2A</td>
                <td>NCOR2</td>
                <td>PDGFRA</td>
                <td>RPBP1</td>
                <td>TP53BP1</td>             
            </tr>  
            <tr>
              <td>CSF3R</td>
              <td>ABCA12</td>
              <td>CBLB</td>
              <td>EP300</td>
              <td>HIPK2</td>
              <td>KMT2D</td>
              <td>NF1</td>
              <td>PHF12</td>
              <td>ROBO2</td>
              <td>U2AF1</td>
            </tr> 
            <tr>
              <td>DNMT3A</td>
              <td>ABL1</td>
              <td>CD101</td>
              <td>ERG</td>
              <td>IDH1</td>
              <td>KRAS</td>
              <td>NLRP1</td>
              <td>PHF6</td>
              <td>RUNX1T1</td>
              <td>U2AF2</td>
            </tr> 
            <tr>
              <td>JAK2</td>
              <td>ATM</td>
              <td>CEBPA</td>
              <td>ETV6</td>
              <td>IDH2</td>
              <td>LAMB4</td>
              <td>NOTCH1</td>
              <td>PRPF40B</td>
              <td>SF3A1</td>
              <td>WT1</td>
            </tr> 
            <tr>
              <td>MPL</td>
              <td>ATRX</td>
              <td>CREBBP</td>
              <td>EZH2</td>
              <td>INVS</td>
              <td>MECOM</td>
              <td>NPM1</td>
              <td>PRPF8</td>
              <td>SMC1A</td>
              <td>ZRSR2</td>
            </tr> 
            <tr>
              <td>RUNX1</td>
              <td>ATXN7L1</td>
              <td>CSF1R</td>
              <td>FBXW7</td>
              <td>IRF1</td>
              <td>MET</td>
              <td>NRAS</td>
              <td>PTPN11</td>
              <td>SMC3</td>
              <td></td>
            </tr> 
            <tr>
              <td>SETBP1</td>
              <td>BCOR</td>
              <td>CTCF</td>
              <td>FLT3</td>
              <td>KDM2B</td>
              <td>MLL3</td>
              <td>NRD1</td>
              <td>RAD21</td>
              <td>STAG2</td>
              <td></td>
            </tr> 
            <tr>
              <td>SF3B1</td>
              <td>BRAF</td>
              <td>CUX1</td>
              <td>GATA1</td>
              <td>KDM6A</td>
              <td>MLL5</td>
              <td>NUP98</td>
              <td>RAD50</td>
              <td>TET1</td>
              <td></td>
            </tr> 
            </table>
  <!--     -->
  <hr class="mg_t30 mg_b20"/>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td class="txt_l font_16 fb">검사의뢰일/검사보고일:{{requestDate | date: 'yyyy.MM.dd'}}//{{today()}}  </td>
        <td class="txt_c font_16 fb">검사자: 
          <select #examine class="select_01" (change)="examimed(examine.value)" [value]="'김지혜'">
            <option value="김지혜" [selected]="examselected('김지혜',1)">김지혜</option>
            <option value="이건동" [selected]="examselected('이건동',2)">이건동</option>
        </select>                          
       </td>
        <td class="txt_r font_16 fb">판독의사: 
          <select class="select_01" #rechecked (change)="checked(rechecked.value)"  [value]="'이호원'">
            <option value="이호원" [selected]="recheckselected('이호원',1)" >이호원</option>
            <option value="김명신" [selected]="recheckselected('김명신',2)">김명신</option>
            <option value="김용구" [selected]="recheckselected('김용구',3)" >김용구</option>
          </select>
        </td>
    </tr>
  </table>
  <!--     -->
        </div>
  
  
        <br />
        <div class="foot_btn mg_t30 pd_b30 txt_c main_btn"  *ngIf="preview">
          <ul>
              <li>
                  <button type="button" class="btn btn_07"
                  (click)="screenRead()" [disabled]="getStatus(1)">스크린완료</button>
              </li>
              <li>
                  <button type="button" class="btn btn_07"
                  (click)="screenReadFinish()" [disabled]="getStatus(2)">판독완료</button>
              </li>
              <li>
                  <button type="button" class="btn btn_07" [disabled]="getStatus(3)" (click)="goEMR()">EMR전송</button>
              </li>
          </ul>
      </div>
    </div>
  </div>
  <div>
    <app-preview *ngIf="isVisible"
      [result]="resultStatus"
    ></app-preview>
  </div>
  </div>
  
  
  