<div id="result">
  <div id="container" style="position: relative;">
      <h2 *ngIf="reportType === 'AML'" style="margin-top: 5px;">Actual Myeloid Leukemia NGS</h2>
      <h2 *ngIf="reportType === 'ALL'" style="margin-top: 5px;">Actual Lymphoblastic Leukemia NGS</h2>
      <button type="button" class="preview__button" (click)="previewToggle()">미리보기</button>
      <button type="button" class="excel" (click)="excelDownload()">Excel</button>
      <div id="content">
          <div class="box pd_20">
              <div class="box_100 main-table" >
                  <table cellpadding="0" cellspacing="0" class="table_list header-fix" style="text-align: center;">
                      <thead>
                          <tr>
                              <th width="30px" class="border-left-1"></th>
                              <th width="200px">Locus</th>
                              <th width="200px">Genotype</th>
                              <th width="80px">Filter</th>
                              <th width="80px">Ref</th>
                              <th width="200px">Observed Allele</th>
                              <th width="80px">Type</th>
                              <th style="width:100px !important;">No Call Reason</th>
                              <th width="80px">Genes</th>
                              <th style="width: 200px !important;">Location</th>
                              <th width="80px">Loc 1</th>
                              <th width="80px">Loc 2</th>
                              <th width="200px">Loc 3</th>
                              <th width="80px">Loc 4</th>
                              <th width="80px">Loc 5</th>
                              <th width="80px">Loc 6</th>
                              <th width="80px">Loc 7</th>
                              <th width="80px">Length</th>
                              <th width="80px">Info</th>
                              <th width="200px">Variant ID</th>
                              <th width="80px">Variant Name</th>
                              <th width="200px">% Frequency</th>
                              <th width="80px">Strand</th>
                              <th width="80px">Exon</th>
                              <th width="200px">Trascript</th>
                              <th width="200px">Coding</th>
                              <th width="200px">Amino Acid Change</th>
                              <th width="200px">Variant Effect</th>
                              <th width="200px">PhyloP</th>
                              <th width="80px">SIFT</th>
                              <th width="80px">Grantham</th>
                              <th width="80px">PolyPhen</th>
                              <th width="200px">FATHMM</th>
                              <th width="200px">PFAM</th>
                              <th width="200px">dbSNP</th>
                              <th width="200px">DGV</th>
                              <th width="200px">MAF</th>
                              <th width="200px">EMAF</th>
                              <th width="200px">AMAF</th>
                              <th width="200px">GMAF</th>
                              <th width="80px">UCSC Common SNPs</th>
                              <th width="200px">ExAC LAF</th>
                              <th width="200px">ExAC EAAF</th>
                              <th width="200px">ExAC OAF</th>
                              <th width="200px">ExAC EFAF</th>
                              <th width="200px">ExAC SAAF</th>
                              <th width="200px">ExAC ENFAF</th>
                              <th width="200px">ExAC AAF</th>
                              <th width="200px">ExAC GAF</th>
                              <th width="200px">COSMIC</th>
                              <th width="200px">OMIM</th>
                              <th width="200px">Gene Ontology</th>
                              <th width="200px">DrugBank</th>
                              <th width="200px">ClinVar</th>
                              <th width="200px">Allele Coverage</th>
                              <th width="200px">Allele Ratio</th>
                              <th width="200px">p-value</th>
                              <th width="200px">Phred QUAL Score</th>
                              <th width="200px">Coverage</th>
                              <th width="200px">Ref+/Ref-/Var+/Var-</th>
                              <th width="200px">Homopolymer<br/>Length</th>
                              <th width="200px">Subset of</th>
                              <th width="200px">KRGDB_622_Lukemia</th>
                              <th width="200px">KRGDB_1100_Leukemia</th>    
                                                     
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let tsvList of tsvLists; let i = index">
                              <td class="table_result_line">{{i + 1}}</td>
                              <td class="textcenter">{{tsvList.locus}}</td>
                              <td><textarea class="textarea_02">{{tsvList.genotype}}</textarea></td>
                              <td class="textcenter">{{tsvList.filter}}</td>
                              <td class="textcenter">{{tsvList.ref}}</td>
                              <td><textarea class="textarea_02">{{tsvList.observed_allele}}</textarea></td>
                              <td class="textcenter">{{tsvList.type}}</td>
                              <td class="textcenter">{{tsvList.no_call_reason}}</td>
                              <td class="textcenter">{{tsvList.genes}}</td>
                              <td><textarea class="textarea_02">{{tsvList.locations}}</textarea></td>
                              <td class="textcenter">{{tsvList.loc1}}</td>
                              <td class="textcenter">{{tsvList.loc2}}</td>
                              <td><textarea class="textarea_02">{{tsvList.loc3}}</textarea></td>
                              <td class="textcenter">{{tsvList.loc4}}</td>
                              <td class="textcenter">{{tsvList.loc5}}</td>
                              <td class="textcenter">{{tsvList.loc6}}</td>
                              <td class="textcenter">{{tsvList.loc7}}</td>
                              <td class="textcenter">{{tsvList.length}}</td>
                              <td class="textcenter">{{tsvList.info}}</td>
                              <td class="textcenter">{{tsvList.variant_id}}</td>
                              <td class="textcenter">{{tsvList.variant_name}}</td>
                              <td class="tdbox"><textarea class="textarea_02">{{tsvList.frequency}}</textarea></td>
                              <td class="textcenter">{{tsvList.strand}}</td>
                              <td class="textcenter">{{tsvList.exon}}</td>
                              <td><textarea class="textarea_02">{{tsvList.transcript}}</textarea></td>
                              <td><textarea class="textarea_02">{{tsvList.coding}}</textarea></td>
                              <td><textarea class="textarea_02">{{tsvList.amino_acid_change}}</textarea></td>
                              <td class="textcenter">{{tsvList.variant_effect}}</td>
                              <td><textarea class="textarea_02">{{tsvList.phylop}}</textarea></td>
                              <td><textarea class="textarea_02">{{tsvList.sift}}</textarea></td>
                              <td class="textcenter">{{tsvList.grantham}}</td>
                              <td class="textcenter">{{tsvList.polyphen}}</td>
                              <td><textarea class="textarea_02">{{tsvList.fathmm}}</textarea></td>
                              <td><textarea class="textarea_02">{{tsvList.pfam}}</textarea></td>
                              <td><textarea class="textarea_02">{{tsvList.dbsnp}}</textarea></td>
                              <td class="textcenter">{{tsvList.dgv}}</td>
                              <td><textarea class="textarea_02">{{tsvList.maf}}</textarea></td>
                              <td><textarea class="textarea_02">{{tsvList.emaf}}</textarea></td>
                              <td class="textcenter">{{tsvList.amaf}}</td>
                              <td class="textcenter">{{tsvList.gmaf}}</td>
                              <td>{{tsvList.ucsc_common_snps}}</td>
                              <td><textarea class="textarea_02">{{tsvList.exac_laf}}</textarea></td>
                              <td><textarea class="textarea_02">{{tsvList.exac_eaaf}}</textarea></td>
                              <td><textarea class="textarea_02">{{tsvList.exac_oaf}}</textarea></td>
                              <td><textarea class="textarea_02">{{tsvList.exac_efaf}}</textarea></td>
                              <td><textarea class="textarea_02">{{tsvList.exac_saaf}}</textarea></td>
                              <td><textarea class="textarea_02">{{tsvList.exac_enfaf}}</textarea></td>
                              <td><textarea class="textarea_02">{{tsvList.exac_aaf}}</textarea></td>
                              <td><textarea class="textarea_02">{{tsvList.exac_gaf}}</textarea></td>
                              <td><textarea class="textarea_02">{{tsvList.cosmi}}</textarea></td>
                              <td><textarea class="textarea_02">{{tsvList.omim}}</textarea></td>
                              <td>
                                <textarea class="textarea_02">{{tsvList.gene_ontology}}</textarea>
                              </td>
                              <td><textarea class="textarea_02">{{tsvList.drugbank}}</textarea></td>
                              <td class="textcenter">{{tsvList.clinvar}}</td>
                              <td><textarea class="textarea_02">{{tsvList.allele_coverage}}</textarea></td>
                              <td><textarea class="textarea_02">{{tsvList.allele_ratio}}</textarea></td>
                              <td class="textcenter">{{tsvList.p_value}}</td>
                              <td class="textcenter">{{tsvList.phred_qual_score}}</td>
                              <td class="textcenter">{{tsvList.coverage}}</td>
                              <td><textarea class="textarea_02">{{tsvList.ref_ref_var_var}}</textarea></td>
                              <td class="textcenter">{{tsvList.homopolymer_length}}</td>
                              <td class="textcenter">{{tsvList.subset_of}}</td>
                              <td class="textcenter">{{tsvList.krgdb_622_lukemia}}</td>
                              <td><textarea class="textarea_02">
                                {{tsvList.krgdb_1100_leukemia}}
                                </textarea>
                              </td>
                          </tr>
                      </tbody>
                  </table>
                
              </div>
              <div class="sub_title">Patient: {{patientInfo.name}}, {{patientInfo.patientID}} ({{patientInfo.gender}}/{{patientInfo.age}})</div>
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td class="txt_02" ><span class="fb">Result </span>:
                        <input type="radio" id="vertical-radio2" name="radio-full" value="detected" [checked]="radioStatus('Detected')" class="clr-radio"  (change)="result($event)">
                        <label for="vertical-radio2" class="  clr-col-12 clr-col-md-2">Detected</label>
                        &nbsp;&nbsp;
                        <input type="radio" id="vertical-radio1" name="radio-full" value="notdetected" class="clr-radio"  (change)="result($event)" [checked]="radioStatus('Not Detected')">
                        <label for="vertical-radio1" class="clr-col-12 clr-col-md-2">Not Detected</label>
                    </td>
                    <!-- <td rowspan="2" class="main_btn">
                        <ul>
                            <li>
                                <button type="button" class="preview__button" (click)="previewToggle()">미리보기</button>
                            </li>
                        </ul>
                    </td> -->
                </tr>
                <tr>
                    <td class="txt_02"> Other molecular and cytogenetic profiles</td>
                </tr>
            </table>
            <div style="margin-top:5px;"></div>
            <table width="100%" cellpadding="0" cellspacing="0" class="table_result">
                <colgroup>
                <col style="width:30%;" />
                <col style="width:20%;" />
                <col style="width:50%;" />
                </colgroup>
                <thead>
                    <tr>
                        <th class="table_result_line">Leukemia associated fusion</th>
                        <th *ngIf="reportType === 'AML'">FLT3-ITD</th>
                        <th *ngIf="reportType === 'ALL'">IKZF1 deletion</th>
                        <th>Chromosomal analysis</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="table_result_line" style="text-align: center;">
                            <input type="text" class="input_02 textcenter"  
                            [(ngModel)]= "profile.leukemia" [ngModelOptions]="{standalone: true}">
                        </td>
                        <td class="table_result_line"  style="text-align: center;">
                            <input type="text" class="input_02  textcenter"  
                            [(ngModel)]="profile.flt3itd" [ngModelOptions]="{standalone: true}">
                        </td>
                        <td  style="text-align: center;">
                            <input type="text" class="input_02 textcenter"  
                            [(ngModel)]="profile.chron" [ngModelOptions]="{standalone: true}">
                        </td>
                    </tr>
                </tbody>
            </table>

               
              <div class="sub_title">Test Information</div>
              <table cellpadding="0" cellspacing="0" class="table_result02">
                  <colgroup>
                  <col style="width:50%;" />
                  <col style="width:50%;" />
                  </colgroup>
                  <tbody>
                      <tr>
                          <!-- <td>TARGET DISESSE:{{patientInfo.targetDisease}}</td>  <th *ngIf="reportType === 'AML'">FLT3-ITD</th>-->
                          <td *ngIf="reportType === 'AML'">TARGET DISEASE:Acute myeloid leukemia</td>
                          <td *ngIf="reportType === 'ALL'">TARGET DISEASE:Acute lymphoblastic leukemia</td>
                          <td> METHOD:*Massively parallel sequencing</td>
                          <!-- <td>METHODS: {{patientInfo.method}}</td> -->
                      </tr>
                      <tr>
                          <td> SPECIMEN: Genomic DNA isolated from {{specimenMsg}}</td>
                          <td> REQUEST: {{patientInfo.request}}</td>
                      </tr>
                  </tbody>
              </table>
              <div class="sub_title">Detected variants</div>
    <div class="box">
              <div class="box_100" #box100>
<!--    -------------------------------------                     -->
<form [formGroup]="tablerowForm"> 
     
    <table class="table_list header-fix"  style="text-align: center;">
        <colgroup>  
            <col style="width:20px"/>         
            <col style="width:80px"/>
            <col style="width:40px"/>  <!--     -->
            <col style="width:80px"/>  <!-- IGV -->
            <col style="width:250px"/>  <!--  sanger -->
            <col style="width:60px"/>  <!-- Type    -->
            <col style="width:120px"/>   <!-- Gene   -->
            <col style="width:100px"/>  <!-- Functional Impact    -->
            <col style="width:160px"/>  <!-- Transcript    --> 
            <col style="width:90px"/>  <!-- Exon/Intron    -->
            <col style="width:300px"/>  <!--  Nuceleotide change   -->
            <col style="width:200px"/>  <!-- Amino acid change    -->
            <col style="width:120px"/>  <!-- Zygosity    -->
            <col style="width:250px"/>  <!--  VAF %   -->  
            <col style="width:100px"/>  <!--   References  -->
            <col style="width:80px"/>   <!--  COSMIC ID   -->
            <col style="width:120px"/>  <!--   Site  -->
            <col style="width:80px"/>   <!--  Action -->           
            </colgroup>
      <thead>
          <tr>
              <th></th>
              <th>
                <button class="btn btn_01 btn-s" (click)="addRow()">추가</button>
              </th> 
              <th></th>
              <th>IGV</th>
              <th>Sanger</th>
              <th>Type</th>                  
              <th>Gene</th>
              <th>Functional Impact</th>
              <th>Transcript</th>
              <th>Exon/Intron</th>  
              <th>Nuceleotide change</th>    
              <th>Amino acid change</th> 
              <th>Zygosity</th>
              <th>VAF %</th> 
              <th>Reference(s)</th>      
              <th>COSMIC ID</th> 
              <th>Site</th>
              <th>Action</th>                        
          </tr>
      </thead>
      <tbody  cdkDropList (cdkDropListDropped)="droped($event)">
         
        <ng-container formArrayName="tableRows" *ngFor="let group of getFormControls.controls; let i=index">
          <tr  [formGroupName]="i" cdkDrag>
            <td>
                <button type="button" class="drag-handle"   cdkDragHandle>   
                    <img [src]="'assets/baseline_unfold_more_black_18dp.png'">
                </button>
            </td> 
            <td class="trash"  (click)="deleteRow(i)">
                <img [src]="'assets/images/cancel.png'">
            </td> 
            <td><input type="checkbox"  class="ckbox"   checked (change)="boxstatus(i, $event)"></td> 
            <td><input type="text" size="10" 
                (keydown.enter)="$event.preventDefault()"
                class="clr-input textcenter  tdbox"  formControlName="igv"></td>
            <td>
                <textarea class="textarea_01"  style="width: 100%; height: 100%; border: none" formControlName="sanger"></textarea>
                
            </td>
            <td><input type="text" size="10" 
                (keydown.enter)="$event.preventDefault()"
                class="clr-input textcenter tdbox"  formControlName="type"></td>
            <td ><input type="text" size="20" #gene  (keydown.enter)="$event.preventDefault()"
                 class="clr-input textcenter tdbox" formControlName="gene"></td>
            <td><input type="text" size="10"  class="clr-input textcenter  tdbox" 
                (keydown.enter)="$event.preventDefault()"
                formControlName="functionalImpact"></td>
            <td><input type="text" size="20" 
                (keydown.enter)="$event.preventDefault()"
                class="clr-input textcenter  tdbox" formControlName="transcript"></td> 
            <td><input type="text" size="15" 
                (keydown.enter)="$event.preventDefault()"
                class="clr-input textcenter  tdbox" formControlName="exonIntro"></td>
            <td><input type="text" size="40"  class="clr-input textcenter  tdbox" 
                (keydown.enter)="$event.preventDefault()"
                formControlName="nucleotideChange"></td>
            <td><input type="text" size="40"  class="clr-input textcenter  tdbox" 
                (keydown.enter)="$event.preventDefault()"
                formControlName="aminoAcidChange"></td>
            <td><input type="text" size="20"  class="clr-input textcenter  tdbox"
                (keydown.enter)="$event.preventDefault()"
                formControlName="zygosity"></td>
            <td>
                <textarea class="textarea_01"  style="width: 100%; height: 100%; border: none" formControlName="vafPercent"></textarea>
               
            </td>
            <td><input type="text" size="10"  class="clr-input textcenter  tdbox" 
                (keydown.enter)="$event.preventDefault()"
                formControlName="references"></td>
            <td><input type="text" size="20"  class="clr-input textcenter  tdbox" 
                (keydown.enter)="$event.preventDefault()"
                formControlName="cosmicID"></td>
            
            <td  class="txt_c">
              <select class="select_01" style="width: 100%;" name="options" (change)="saveInhouse(i, inhouse.value)" 
              *ngIf="checkType(i)" #inhouse>
                <option value="mutation" selected>Mutation</option>
                <option value="artifacts">Artifacts</option>
                <option value="benign">Benign</option>
              </select>                    
            </td>
           <!-- <td  class="txt_c" (click)="save(i)" *ngIf="checkType(i)"  class="save_mute">
               저장 -->
               <td>
               <button class="btn-s blue"  (click)="save(i)" *ngIf="checkType(i)" >저장</button>
               <!-- 작업후 td class="save_mute" 삭제해주세요 -->
            </td>
            </tr>                               
          </ng-container>
      </tbody>
    </table>
 
  </form>
 
<!---  ---------------------------   -->
      </div>
      <div>
        <div  class="font_14 pd_t15">
            <textarea style="width:100%" class="textarea_01" [(ngModel)]= vusmsg></textarea>
          </div>
      </div>

      </div>

      <div  style="overflow: scroll-y">
        <div style="margin-bottom: 10px;margin-top: 25px;">
            <ul style="display:flex;justify-content:flex-start; align-items: center;">
                <li>
                    <span class="sub_title">Comments</span>
                </li>
                <li>&nbsp;&nbsp;</li>
                <li>
                    <button type="button" class="btn btn_01" (click)="addComments(reportType)">저장</button>
                </li>
            </ul>            
            </div> 
        <div  class="comment_box_50">   
        <form [formGroup]="tablerowForm" >            
            <table width="100%" cellpadding="0" cellspacing="0" class="table_result">
               <colgroup>
                <col style="width:7%;" />
                <col style="width:25%;" />
                <col style="width:30%;" />
                <col style="width:30%;" />
                <col style="width:8%;" />
               </colgroup>  
              <thead>
                  <tr>
                      <th class="table_result_line">Gene</th>
                      <th >Variants</th>
                      <th> Comments</th>
                      <th >Reference</th>
                 
                      <th><button class="btn btn_01" (click)="addNewCommentRow()">추가</button></th>
                  </tr>
              </thead>
              <tbody>
                  <!-- <tr *ngFor="let comment of comments;"> -->
                  <ng-container formArrayName="commentsRows" *ngFor="let group of commentsRows().controls; let i=index">
                      <tr  [formGroupName]="i">
                        <td class="table_result_line">
                            <input type="text" style="width:88%;display:block;margin:0 auto;"
                            (keydown.enter)="$event.preventDefault()"
                             class="input_02  textcenter" size="10" formControlName="gene">
                        </td>
                        <td><input type="text" style="width:88%;display:block;margin:0 auto;" 
                            (keydown.enter)="$event.preventDefault()"
                            class="input_02  textcenter" size="10" formControlName="variant_id">
                        </td>
                        <td class="textarea01"><textarea style="width:96%;display:block;margin:0 auto;" class="textarea_01" formControlName="comment"></textarea></td>
                        <td class="textarea01" style="white-space: pre-wrap;"><textarea style="width:96%;display:block;margin:0 auto;white-space: pre-wrap;" class="textarea_01" formControlName="reference"></textarea></td> 
                        <td  align="center">
                            <img [src]="'assets/images/cancel.png'" (click)="removeCommentRow(i)">
                        </td>
                      </tr>
                 </ng-container>
              </tbody>
            </table>
        </form>
        </div>    
      </div>
  
<!--     -->
              <div class="sub_title">*Methods</div>
              <div class="pd_r20">
                  <textarea class="textarea_01">Total genomic DNA was extracted from the each sample. Template and automated libraries were prepared on the Ion Chef System(Thermo Fisher Scientific) and subsequently sequenced on the Ion S5 system (Thermo Fisher Scientific) with the Ion 530 Chip kit. Alignment of sequences to the reference human genome (GRCh37/hg19) and base calling were performed using the Torrent Suite software version 5.8.0 (Thermo Fisher Scientific). The Torrent Variant Caller v5.8.0.19 (Thermo Fisher Scientific) was used for calling variants from mapped reads and the called variants were annotated by the Ion Reporter software v5.6. </textarea>
              </div>
              <div class="sub_title">Genernal limitations of the technique</div>
              <div class="pd_r20">
                  <textarea class="textarea_01">The analysis was optimised to identify base pair substitutions with a high sensitivity. The sensitivity for small insertions and deletions was lower. Deep-intronic mutations, mutations in the promoter region, repeats, large exonic deletions and duplications, and other structural variants were not detected by this test. Evaluation of germline mutation can be performed using buccal swab speciman.</textarea>
              </div>
              <div class="sub_title">Target genes</div>
              <table cellpadding="0" cellspacing="0" class="table_result02"   *ngIf="reportType === 'AML'">
                  <colgroup>
                  <col style="width:10%;" />
                  <col style="width:10%;" />
                  <col style="width:10%;" />
                  <col style="width:10%;" />
                  <col style="width:10%;" />
                  <col style="width:10%;" />
                  <col style="width:10%;" />
                  <col style="width:10%;" />
                  <col style="width:10%;" />
                  <col style="width:10%;" />
                  </colgroup>
                  <tr  *ngFor="let list of genelists">
                    <td class="txt_c">{{list.g0}}</td>
                    <td class="txt_c">{{list.g1}}</td>
                    <td class="txt_c">{{list.g2}}</td>
                    <td class="txt_c">{{list.g3}}</td>
                    <td class="txt_c">{{list.g4}}</td>
                    <td class="txt_c">{{list.g5}}</td>
                    <td class="txt_c">{{list.g6}}</td>
                    <td class="txt_c">{{list.g7}}</td>
                    <td class="txt_c">{{list.g8}}</td>
                    <td class="txt_c">{{list.g9}}</td>
                  </tr> 
              </table>
  <!--  ------------------------------- ALL   -->
  <table cellpadding="0" cellspacing="0" class="table_result02"    *ngIf="reportType === 'ALL'">
       <colgroup>
          <col style="width:10%;"/>
          <col style="width:10%;"/>
          <col style="width:10%;"/>
          <col style="width:10%;"/>
          <col style="width:10%;"/>
          <col style="width:10%;"/>
          <col style="width:10%;"/>
          <col style="width:10%;"/>
          <col style="width:10%;"/>
          <col style="width:10%;"/>
       </colgroup>
       <tr  *ngFor="let list of genelists">
        <td class="txt_c">{{list.g0}}</td>
        <td class="txt_c">{{list.g1}}</td>
        <td class="txt_c">{{list.g2}}</td>
        <td class="txt_c">{{list.g3}}</td>
        <td class="txt_c">{{list.g4}}</td>
        <td class="txt_c">{{list.g5}}</td>
        <td class="txt_c">{{list.g6}}</td>
        <td class="txt_c">{{list.g7}}</td>
        <td class="txt_c">{{list.g8}}</td>
        <td class="txt_c">{{list.g9}}</td>
      </tr> 
</table>

  <!-- ------------------------------- END ALL -->
  <hr class="mg_t30 mg_b20"/>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
          <td class="txt_l font_16 fb">검사의뢰일/검사보고일/수정보고일: {{requestDate | date: 'yyyy.MM.dd'}}/{{firstReportDay}}/{{lastReportDay}}  </td>
          <td class="txt_1 font_16 fb">검사자:  <input type="text" [(ngModel)]="examin" class="input_02" size="30">
                                    
         </td> 
          <td class="txt_1 font_16 fb">판독의사: <input type="text"   [(ngModel)]="recheck" class="input_02" size="30">
              
          </td>
      </tr>
  </table>

  <!--     -->
          </div>


          <br />
          <div class="foot_btn mg_t30 pd_b30 txt_c main_btn"  *ngIf="preview">
            <ul>
                <li>
                    <button class="btn btn_01" (click)="reset()"
                    [disabled]="getStatus(4)">수정</button>                 
                </li>
                <li>
                    <button class="btn btn_01" (click)="tempSave()">임시저장</button>                   
                </li>
                <li>
                    <button class="btn btn_01" (click)="screenRead()" [disabled]="getStatus(1)">스크린완료</button>                   
                </li>
                <li>
                    <button class="btn btn_01" (click)="screenReadFinish()" [disabled]="getStatus(2)">판독완료</button>                   
                </li>
                <li  *ngIf="reportType === 'AML'">
                    <button class="btn btn_01" (click)="goEMR()" [disabled]="getStatus(3)">EMR전송</button>                   
                </li>
                <li  *ngIf="reportType === 'ALL'">
                    <button class="btn btn_01" (click)="gotoEMR()" [disabled]="getStatus(3)">EMR전송</button>                    
                </li>                
            </ul>
        </div>
      </div>
  </div>
  <!-- -----------------------------------------------------------  -->
  
  <!--    -->
   <div class="modal-overlay" *ngIf="isVisible">
       <div class="modal-body">
           <app-preview  [result]="resultStatus"
        (closemodal)="previewToggle()"
           [type]="reportType"></app-preview>
       </div>
   </div>

  <!--    -->
</div>