:host {
  position: fixed;
  z-index: 100;
}

.background {
  background: black;
  opacity: 0.5;
  width: 100vw;
  height: 100vh;
}

.card {
  position: absolute;
  z-index: 100;
  background: white;
  width: 80%;
  padding: 20px;
  margin-left: calc(10% - 20px);
  top: 35%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}



.message {

  display: flex;

  label {
    text-align: right;
    margin-right: 10px;
  }

  input {
    width: 50px;
  }
}

.footer {
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
  width: 100%;

  .cancel-button {
    margin-right: 10px;
    background-color: #777;

    &:active {
      background-color: #444;
    }
  }
}

input {
  position: absolute;
  left: 1px;
}

.upload-main {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-container {
  width: 100%;
  height: 100%;
  // border: 1px solid black;
}

.droparea {
  border: 2px dashed #ccc;
  height: 250px;
  text-align: center;
  position: relative;
  background-color: #f7f7f7;
}

.browse-file {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
}

.droparea h4 {
  margin-top: 80px;
}


.droparea.active {
  border: 2px dashed #1877e3;
  background-color: #478ddd;
}


.file-list .list-group-item,
.file-list .card-header {
  padding: 0.5rem 1.25rem;
}

.file-list span {
  color: #82e318
}

.btn.btn-button {
  color: white;
  border: 1px solid black;
  font-size: 16px;
  background-color: blue;
  border-radius: 20px;

}

.mt-3 {
  margin-top: 30px;
}

.btn.btn-button:hover,
.btn.btn-button:active,
.btn.btn-button:visited {
  border-style: none;
}

.progress,
.progress-static {
  max-height: 5rem !important;
}
