#wrap {
  height: 90vh;
}

table {
  table-layout: fixed;
}


/*** 테이블 헤더 고정 ***/
.fixed_header th {
  position: sticky;
  top: 0;
  // background-color: #fff;
}

/*** /테이블 헤더 고정 ***/


.mainscreen-container {
  width: 70%;
  margin: auto;
}

.myclass {
  display: inline-block;
  width: 80px;
  height: 40px;
}

.btn.btn-button {

  color: white;
  border: 1px solid black;
  font-size: 16px;
  background-color: blue;
  border-radius: 20px;

}

.btn.btn-button:hover,
.btn.btn-button:active,
.btn.btn-button:visited {
  border-style: none;
}

.btn_report {
  border: 2px solid black;
  background-color: #1e485a;
  color: white;
}

.table th,
.table td {
  vertical-align: middle !important;
}

.select_001 {
  padding: .6212rem .8571rem !important;
  background-color: #f5f5f5;
  background-clip: padding-box;
  border: 1px solid #dcdcdc;
}

label {
  font-size: 12px;
  font-weight: bold;
  color: #666666;
  display: inline-block;
}
