<div id="wrap">
  <div id="header">
      <div class="fl">
          <img [src]=" 'assets/images/logo.png'" (click)="goHome()" />
      </div>
      <div class="fr fb pd_r30 pd_t40">
           <span class="txt_01 title">가톨릭대학교 서울성모병원</span>
           <span style="color:#a0a0a0;"> </span>
           <!-- <span class="txt_01">홍길동</span><span class="fn">님 반갑습니다.</span> -->
           <!-- <img [src]="'assets/images/btn_pw.png'" alt="비밀번호변경" class="pd_l06"  (click)="openDialog()"/> -->
           <button class="pd_106 btn-logout btn__button"  (click)="openDialog()">내정보</button>
           &nbsp;&nbsp;&nbsp;
           <img [src]="'assets/images/btn_logout.png'" (click)="logout()" alt="로그아웃" />
      </div>
      <div id="menu">
          <table border="0" cellspacing="0" cellpadding="0">
              <tr>
                 <td class="menu01">
                    <a routerLink="/pathology" class="active nav-link" routerLinkActive="active"><span
                      class="nav-text"></span></a>
                  </td> 
                <!-- -->
                  <td class="menu04">
                    <a routerLink="/pathology/managestatistics"></a>
                  </td> 
                  <td class="menu06">
                    <a routerLink="/pathology/manageusers"></a>
                  </td>                                                   
                <!--  -->
              </tr>
          </table>
      </div>
  </div>
<div>
    <router-outlet></router-outlet>
</div>
