<div class="form-main">
  <!-- <div class="clr-select-wrapper select-box">
    <select id="select-basic" class="clr-select selected" (change)="navigateTo($event.target.value)">
      <option value="1" [selected]="selected(1)">Acute Lymphoblastic Leukemia NGS(A)</option>
      <option value="2" [selected]="selected(2)">Actual Myeloid Leukemia NGS(B)</option>
      <option value="3" [selected]="selected(3)">Lymphoma NGA(C)</option>
      <option value="4" [selected]="selected(4)">MDS/MPN NGS(D)</option>     
    </select>
  </div> -->

</div>
<div>
  <router-outlet></router-outlet>
</div>
