<<<<<<< HEAD
td:hover {
=======
// td:hover {
//   background-color: antiquewhite;
// }

td {
>>>>>>> fb39b21932609716169e65b79b5a61eba3adbdd6
  cursor: pointer;
}

.select_001 {
  padding: 0.6212rem 0.8571rem !important;
  background-color: #f5f5f5;
  background-clip: padding-box;
  border: 1px solid #dcdcdc;
}