<div id="wrap1111">
  <div id="container">
    <div id="content">
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="mg_b10">
          <tr>
              <td  class="mail_title">유전자관리</td>
          </tr>
        </table>
      <div class="box mg_b20 pd_20">
        <select class="select_01 select_001" >
          <option value="100">AML</option>
          <option value="100">ALL</option>
          <option value="100">Lymphoma</option>
          <option value="100">MDS/MPN</option>
        </select>&nbsp;&nbsp;
        <input type="text" class="input_01" placeholder=""/>
        <button type="button" class="btn btn_02" style="margin-left: 10px;">조회</button>
      </div>
      <div class="total">
        <table border="0" cellspacing="0" cellpadding="0" class="mg_b10">
            <tr>
                <td class="main_btn">  
                    <ul>
                        <li>
                            <button type="button" class="btn btn_01">추가</button>
                        </li>
                        <li>
                          <button type="button" class="btn btn_01">수정</button>
                      </li>
                      <li>
                        <button type="button" class="btn btn_01">삭제</button>
                    </li>
                    </ul> 
                </td>
            </tr>
        </table>
      </div>
      <div class="box">
        <div class="box_100">
        <table border="0" cellpadding="0" cellspacing="0" class="table_list  fixed_header table_resul_x">
          <colgroup>
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
          </colgroup>
          <thead>
            <tr *ngFor="let list of lists; let i =index;">
              <th class="txt_c">{{list.g0}}</th>
              <th class="txt_c">{{list.g1}}</th>
              <th class="txt_c">{{list.g2}}</th>
              <th class="txt_c">{{list.g3}}</th>
              <th class="txt_c">{{list.g4}}</th>
              <th class="txt_c">{{list.g5}}</th>
              <th class="txt_c">{{list.g6}}</th>
              <th class="txt_c">{{list.g7}}</th>
              <th class="txt_c">{{list.g8}}</th>
              <th class="txt_c">{{list.g9}}</th>
            </tr>
          </thead>
          <div></div>
          <tbody>
            <tr>
              <td class="txt_c"></td>
              <td class="txt_c"></td>
              <td class="txt_c"></td>
              <td class="txt_c"></td>
              <td class="txt_c"></td>
              <td class="txt_c"></td>
              <td class="txt_c"></td>
              <td class="txt_c"></td>
              <td class="txt_c"></td>
              <td class="txt_c"></td>
              <td class="txt_c"></td>
              <td class="txt_c"></td>
              <td class="txt_c"></td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
    </div>
  </div>
</div>
