caption {
  position: absolute;
  font-size: 0;
  left: -99999px;
}
.table-box-wrap {
    position: relative;
    /*width:509px;*/
    // padding-top: 40px;
  
}
.table-box-wrap .table-box {
    max-height: 450px;
    overflow: auto;
    overflow-x: hidden;
}

.table_list td {
    text-align: center !important;
}

.table_list.header-fix > thead th {
    position: sticky;
    top: 0;
    text-align: center !important;
}

// .table-box-wrap .table-box table {
//     width: 100%;
//     table-layout: fixed;
//     border-spacing: 0;
//     border-collapse: collapse;
// }
// .table-box-wrap .table-box table thead tr {
//     position: absolute;
//     top: 0;
// }
// .table-box-wrap .table-box table thead tr th {
//     font-weight: normal;
//     width: 120px;
//     height: 40px;
//     font-size: 12px;
//     color: #666666;
//     padding: 10px;
//     background-color: #fafafa;
//     border: 1px solid #e0e0e0;
// }

// .table-box-wrap .table-box table td {
//     text-align: left;
//     height: 40px;
//     border-top: 1px solid #ccc;
// }

// .table-box-wrap .table-box table tr {
//     display: inline-table;
//     width: 100%;
//     table-layout: fixed;
// }

// .table-box-wrap .table-box table tbody tr {
//    display: table-row;
// }

.clr-input.wid80 {
    width: 80px !important;
}

.clr-input.wid120 {
    width: 120px !important;
}

.clr-input.wid250 {
    width: 250px !important;
}

.clr-input.wid120.bdnone {
    border: none;
}

.text-right {
    text-align: right;
}

.btn-edit, .btn-delete, .btn-cancel, .btn-save {
    display: inline-block;
    width: 24px;
    height: 24px;
    font-size: 0;
    margin-left: 3px;
    border-radius: 3px;
}

.btn-edit {
    background: url(../images/edit.png);
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
//    background-color: #2090e9;
}

.btn-delete {
    background: url(../images/trash.png);
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
//    background-color: rgb(141, 141, 141);
}

.btn-cancel {
    background: url(../images/cancel.png);
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
//    background-color: rgb(141, 141, 141);
}

.btn-save {
    background: url(../images/save.png);
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
//    background-color: #2090e9;
}

.table_bg > .txt_c {
    padding: 0;
    border-top: none !important;
}

.txt_c > p {
    margin-top: 0;
}
// .input_01 {
//    height: 30px;
//    margin : 10px;
// }


tr.pd-r-12 {
    left: -1px;
}
tr.pd-r-12::after {
    content: '';
    display: table-cell;
    width: 11px;
    background-color: #fafafa;
}
