@charset "utf-8";

/*
//=============================================================================
// 로컬정보 (http://www. )                                                      
// 설  명: NGS 통합관리시스템
// 작업일: 2020.10.28
// 작업일: 2020.10.28
// 수정자: 조현정                                                                    
//=============================================================================
*/


/*기본 레이아웃----------------------------------------------------------------------*/

#wrap {
  position: relative;
  zoom: 1;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background: #f5f5f5 url(../images/bg_top.png) repeat-x;
  box-sizing: border-box;
  padding-bottom: 30px;
}

#result {
  position: relative;
  zoom: 1;
  width: 100%;
  margin: 0 auto;
  background: #f5f5f5;
}

#header {
  margin: 0 auto;
  width: 100%;
  height: 134px;
}

#menu {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

#menu table {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

#menu table td {
  width: 16%;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.menu01 a {
  display: inline-block;
  width: 204px;
  height: 64px;
  cursor: pointer;
  background: url(../images/menu_010.png) no-repeat;
}

.menu01 a:hover,
.menu01 a:active {
  display: inline-block;
  width: 204px;
  height: 64px;
  cursor: pointer;
  background: url(../images/menu_010_on.png) no-repeat;
}

.menu01 a:visited {
  display: inline-block;
  width: 204px;
  height: 64px;
  cursor: pointer;
  background: url(../images/menu_010.png) no-repeat;
}

.menu02 a {
  display: inline-block;
  width: 197px;
  height: 64px;
  cursor: pointer;
  background: url(../images/menu_020.png) no-repeat;
}

.menu02 a:hover,
.menu02 a:active {
  display: inline-block;
  width: 197px;
  height: 64px;
  cursor: pointer;
  background: url(../images/menu_020_on.png) no-repeat;
}

.menu02 a:visited {
  display: inline-block;
  width: 197px;
  height: 64px;
  cursor: pointer;
  background: url(../images/menu_020.png) no-repeat;
}

.menu03 a {
  display: inline-block;
  width: 248px;
  height: 64px;
  cursor: pointer;
  background: url(../images/menu_030.png) no-repeat;
}

.menu03 a:hover,
.menu03 a:active {
  display: inline-block;
  width: 248px;
  height: 64px;
  cursor: pointer;
  background: url(../images/menu_030_on.png) no-repeat;
}

.menu03 a:visited {
  display: inline-block;
  width: 248px;
  height: 64px;
  cursor: pointer;
  background: url(../images/menu_030.png) no-repeat;
}

.menu04 a {
  display: inline-block;
  width: 231px;
  height: 64px;
  cursor: pointer;
  background: url(../images/menu_040.png) no-repeat;
}

.menu04 a:hover,
.menu04 a:active {
  display: inline-block;
  width: 231px;
  height: 64px;
  cursor: pointer;
  background: url(../images/menu_040_on.png) no-repeat;
}

.menu04 a:visited {
  display: inline-block;
  width: 231px;
  height: 64px;
  cursor: pointer;
  background: url(../images/menu_040.png) no-repeat;
}

.menu05 a {
  display: inline-block;
  width: 220px;
  height: 64px;
  cursor: pointer;
  background: url(../images/menu_050.png) no-repeat;
}

.menu05 a:hover,
.menu05 a:active {
  display: inline-block;
  width: 220px;
  height: 64px;
  cursor: pointer;
  background: url(../images/menu_050_on.png) no-repeat;
}

.menu05 a:visited {
  display: inline-block;
  width: 220px;
  height: 64px;
  cursor: pointer;
  background: url(../images/menu_050.png) no-repeat;
}

.menu06 a {
  display: inline-block;
  width: 192px;
  height: 64px;
  cursor: pointer;
  background: url(../images/menu_060.png) no-repeat;
}

.menu06 a:hover,
.menu06 a:active {
  display: inline-block;
  width: 192px;
  height: 64px;
  cursor: pointer;
  background: url(../images/menu_060_on.png) no-repeat;
}

.menu06 a:visited {
  display: inline-block;
  width: 192px;
  ;
  height: 64px;
  cursor: pointer;
  background: url(../images/menu_060.png) no-repeat;
}



.sub_menu01 a {
  display: inline-block;
  width: 216px;
  height: 42px;
  cursor: pointer;
  background: url(../images/side_menu_010.png) no-repeat;
}

.sub_menu01 a:hover,
.sub_menu01 a:active {
  display: inline-block;
  width: 216px;
  height: 42px;
  cursor: pointer;
  background: url(../images/side_menu_010_on.png) no-repeat;
}

.sub_menu01 a:visited {
  display: inline-block;
  width: 216px;
  height: 42px;
  cursor: pointer;
  background: url(../images/side_menu_010.png) no-repeat;
}

.sub_menu02 a {
  display: inline-block;
  width: 216px;
  height: 42px;
  cursor: pointer;
  background: url(../images/side_menu_020.png) no-repeat;
}

.sub_menu02 a:hover,
.sub_menu02 a:active {
  display: inline-block;
  width: 216px;
  height: 42px;
  cursor: pointer;
  background: url(../images/side_menu_020_on.png) no-repeat;
}

.sub_menu02 a:visited {
  display: inline-block;
  width: 216px;
  height: 42px;
  cursor: pointer;
  background: url(../images/side_menu_020.png) no-repeat;
}

.sub_menu03 a {
  display: inline-block;
  width: 216px;
  height: 42px;
  cursor: pointer;
  background: url(../images/side_menu_030.png) no-repeat;
}

.sub_menu03 a:hover,
.sub_menu03 a:active {
  display: inline-block;
  width: 216px;
  height: 42px;
  cursor: pointer;
  background: url(../images/side_menu_030_on.png) no-repeat;
}

.sub_menu03 a:visited {
  display: inline-block;
  width: 216px;
  height: 42px;
  cursor: pointer;
  background: url(../images/side_menu_030.png) no-repeat;
}

.sub_menu04 a {
  display: inline-block;
  width: 216px;
  height: 42px;
  cursor: pointer;
  background: url(../images/side_menu_040.png) no-repeat;
}

.sub_menu04 a:hover,
.sub_menu04 a:active {
  display: inline-block;
  width: 216px;
  height: 42px;
  cursor: pointer;
  background: url(../images/side_menu_040_on.png) no-repeat;
}

.sub_menu04 a:visited {
  display: inline-block;
  width: 216px;
  height: 42px;
  cursor: pointer;
  background: url(../images/side_menu_040.png) no-repeat;
}



#container {
  width: 100%;
}

#content {
  width: auto;
  padding: 0px 30px;
}

#content_small {
  width: auto;
  padding-right: 30px;
  padding-left: 30px;
}

.mail_title {
  background: url(../images/title_bg.png) no-repeat 0 8px;
  font-size: 20px;
  color: #000000;
  padding-left: 20px;
  height: 25px;
  padding-top: 3px;
}

.box {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .02), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  background: #FFF;
}

.main_btn ul {
  float: right;
  height: 30px;
}

.main_btn ul li {
  float: left;
  padding-left: 8px;
}

.foot_btn ul {
  padding: 0px;
  margin: 0;
  display: inline-block;
}

.foot_btn ul li {
  float: left;
  padding-left: 15px;
}

.input_01 {
  padding: .5715rem .8571rem;
  font-size: 12px;
  font-weight: 400;
  color: #212121;
  background-color: #f5f5f5;
  background-clip: padding-box;
  border: 1px solid #dcdcdc;
  border-radius: .1429rem;
  box-shadow: none;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.input_02 {
  padding: 4px 8px;
  font-size: 13px;
  font-weight: 400;
  color: #212121;
  background-color: #fafafa;
  background-clip: padding-box;
  border: 1px solid #d5ecff;
  border-radius: .1429rem;
  box-shadow: none;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.input_03 {
  font-size: 16px;
  color: #000000;
  border: #fff solid 1px;
}

.input_04 {
  font-size: 13px;
  color: #666666;
  border: #fff solid 1px;
  text-align: center;
  width: 100%;
}


.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  /* padding: .375rem 0.42rem; */
  padding: .2211rem 0.42rem;
  line-height: 1.5;
  border-radius: .1429rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  margin: 0;
}

.btn.search {
  box-sizing: content-box;
}

.btn_01 {
  color: #fff;
  background-color: #2090e9;
  font-size: 12px;
  font-weight: bold;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .02), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.btn_02 {
  color: #fff;
  background-color: #8b8b8b;
  font-size: 12px;
}

.btn_03 {
  color: #2196f3;
  background-color: #deeffd;
  font-size: 11px;
}

.btn_04 {
  color: #9e9eb5;
  background-color: #f1f1f1;
  font-size: 11px;
}

.btn_05 {
  color: #4caf50;
  background-color: #e4f3e5;
  font-size: 11px;
}

.btn_06 {
  color: #ffffff;
  background-color: #898888;
  font-size: 11px;
}

.btn_07 {
  color: #fff;
  background-color: #2090e9;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .02), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.table_list {
  width: 100%;
  margin-bottom: 8px;
  color: #424242;
  padding: 0 0 10px 0;
  min-width: 1080px;
}

.table_list th {
  font-size: 12px;
  color: #666666;
  padding: 10px; 
  background-color: #fafafa;
  border: 1px solid #e0e0e0;
  border-left: 0;
  overflow: hidden;
}

.table_list th.border-left-1 {
  border-left: 1px solid #e0e0e0;
}

.table_list td {
  font-size: 13px;
  color: #666666;
  border-bottom: #e0e0e0 solid 1px;
  border-right: 1px solid #e0e0e0;
  padding: 10px;
  line-height: 30px;
  overflow: hidden;
}

/* .table_bg {
  background-color: #fafafa;
} */

.txt_01 {
  color: #2196f3 !important;
}

.txt_02 {
  font-size: 14px;
  color: #000000 !important;
  line-height: 180%;
}

.table_result {
  width: 100%;
  color: #424242;
}

.table_result th {
  font-size: 12px;
  color: #666666;
  border-top: #e0e0e0 solid 1px;
  border-bottom: #e0e0e0 solid 1px;
  border-right: #e0e0e0 solid 1px;
  background-color: #fafafa;
  padding: 10px;
}

.table_result td {
  font-size: 13px;
  color: #666666;
  border-bottom: #e0e0e0 solid 1px;
  border-right: #e0e0e0 solid 1px;
  padding: 10px;
}

.table_result02 {
  width: 100%;
  color: #424242;
  border-left: #e0e0e0 solid 1px;
  border-top: #e0e0e0 solid 1px;
}

.table_result02 td {
  font-size: 13px;
  color: #666666;
  border-bottom: #e0e0e0 solid 1px;
  border-right: #e0e0e0 solid 1px;
  padding: 10px;
}

.table_result03 {
  width: 100%;
  color: #424242;
  border-top: #e0e0e0 solid 1px;
}

.table_result03 th {
  font-size: 12px;
  color: #666666;
  border-bottom: #e0e0e0 solid 1px;
  border-right: #e0e0e0 solid 1px;
  background-color: #fafafa;
  padding: 10px;
}

.table_result03 td {
  font-size: 13px;
  color: #666666;
  border-bottom: #e0e0e0 solid 1px;
  border-right: #e0e0e0 solid 1px;
  padding: 10px;
}

.table_result04 {
  width: 100%;
}

.table_result04 th {
  font-size: 12px;
  color: #666666;
  border-top: #e0e0e0 solid 1px;
  border-bottom: #e0e0e0 solid 1px;
  border-right: #e0e0e0 solid 1px;
  background-color: #fafafa;
  padding: 10px;
}

.table_result04 td {
  font-size: 13px;
  color: #666666;
  border-bottom: #e0e0e0 solid 1px;
  padding: 10px;
}

.table_result04 ul {
  padding: 0;
  margin: 0;
}

.table_result04 li {
  line-height: 150%;
}

.table_result04_bg {
  background-color: #f5f8fb;
}

.table_result_line {
  border-left: #e0e0e0 solid 1px;
}

.table_result_right {
  border-right: #e0e0e0 solid 1px;
}

.table_result_white {
  border-left: #ffffff solid 0px !important;
}

.sub_title {
  background: url(../images/title_bg_02.png) no-repeat 0 5px;
  font-size: 16px;
  color: #000000;
  padding-left: 15px;
  margin-bottom: 10px;
  margin-top: 25px;
}

.sub_title_01 {
  background: url(../images/title_bg_02.png) no-repeat 0 5px;
  font-size: 16px;
  color: #000000;
  padding-left: 15px;
  margin-bottom: 10px;
}

.textarea_01 {
  border: #e0e0e0 solid 1px;
  font-size: 14px;
  color: #666666;
  width: 100%;
  padding: 10px;
  background-color: #fafafa;
  line-height: 160%;
}

.textarea_02 {
  border: #fff solid 1px;
  color: #666666;
  width: 100%;
  line-height: 160%;
}

.textarea_03 {
  border: #fff solid 1px;
  font-size: 14px;
  color: #666666;
  width: 100%;
  line-height: 160%;
}

.box_100 {
  width: 100%;
  height: 500px;
  padding: 0px;
  overflow: auto;
}

.box_80 {
  width: 100%;
  height: 480px;
  padding: 0px;
  overflow: scroll;
}



.btn_num a {
  display: inline-block;
  min-width: 8px;
  height: 28px;
  margin: 0 2px;
  border: 1px solid #f5f5f5 !important;
  border-radius: 2px;
  line-height: 26px;
  font-size: 15px;
  padding: 2px 10px;
}

.btn_num a:hover,
.btn_num a:active {
  display: inline-block;
  min-width: 8px;
  height: 28px;
  margin: 0 2px;
  border: 1px solid #6a6a6a !important;
  color: #000;
  border-radius: 2px;
  line-height: 26px;
  font-size: 15px;
  padding: 2px 10px;
  ;
}

.btn_num a:visited {
  display: inline-block;
  min-width: 8px;
  height: 28px;
  margin: 0 2px;
  border: 1px solid transparent;
  border-radius: 2px;
  line-height: 26px;
  font-size: 15px;
  padding: 2px 10px;
}

.btn_select {
  border: 1px #2090e9 solid;
  color: #2090e9;
  border-radius: 2px;
  font-size: 15px;
  height: 28px;
  padding: 7px 10px;
  font-weight: bold;
  line-height: 26px;
}


.ico_pre {
  background: url(../images/ico_pre.png) no-repeat 10px 8px;
  text-indent: -9999px;
}

.ico_next {
  background: url(../images/ico_next.png) no-repeat 10px 8px;
  text-indent: -9999px;
}


.txt_02 {
  font-size: 14px;
  color: #000000 !important;
  line-height: 180%;
}

.select_result {
  font-size: 30px;
  color: #000000 !important;
  padding: 5px;
  border: #f5f5f5 solid 1px;
  background: #f5f5f5;
  margin: 10px 0 5px 0;
}

.select_result_02 {
  font-size: 30px;
  color: #000000 !important;
  padding: 5px;
  background: #f5f5f5;
  margin: 10px 0 5px 0;
  letter-spacing: -2px;
  font-weight: bold;
  text-align: center;
}

.select_01 {
  padding: 4px 8px;
  font-size: 13px;
  font-weight: 400;
  color: #212121;
  background-color: #fafafa;
  background-clip: padding-box;
  border: 1px solid #d5ecff;
  border-radius: .1429rem;
  box-shadow: none;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}


.main_title {
  background: url(../images/title_bg.png) no-repeat 0 10px;
  font-size: 20px;
  color: #000000;
  padding-left: 20px;
  font-family: tahoma, '맑은고딕';
  font-weight: bold;
  letter-spacing: -2px;
}

.sub_title_03 {
  background: url(../images/title_bg_02.png) no-repeat 20px 6px;
  font-size: 16px;
  color: #000000;
  padding-left: 34px;
  font-family: tahoma, '맑은고딕';
  letter-spacing: -2px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 5px;
}

.sub_title_03_E {
  background: url(../images/title_bg_02.png) no-repeat 20px 6px;
  font-size: 16px;
  color: #000000;
  padding-left: 34px;
  font-family: tahoma, '맑은고딕';
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 5px;
}

.sub_title_04 {
  font-size: 14px;
  color: #1d1d1d;
  font-family: tahoma, '맑은고딕';
  font-weight: bold;
  padding: 5px 0 5px 30px;
}


.list_01 ul {
  margin: 0;
  padding: 0px;
}

.list_01 li {
  background: url(../images/ico_bullet.png) no-repeat 34px 10px;
  font-size: 14px;
  padding-left: 42px;
  font-family: tahoma, '맑은고딕';
  line-height: 140%;
  margin-bottom: 11px;
}


.total {
  overflow: hidden;
}
.total > span {
  display: inline-block;
  /* margin-top: 15px; */
}
.total > table {
  display: inline-block;
  width: auto;
  float: right;
}

.bold {
  font-weight: bold !important;
  font-size: .8rem;
}

.menu03 {
  position: relative;
}
.menu03:hover .sub-menu {
  display: inline-block;
}
.sub-menu {
  display: none;
  position: absolute;
  border: 3px solid #2196f3;
  width: 570px;
  top: 65px;
  left: 20%;
  padding: 10px 0;
  background-color: #fff;
  z-index: 5;
}
.sub-menu:after {
  content: '';
  position: absolute;
  border: solid transparent;
  height: 0;
  width: 0;
  bottom: 100%;
  left: 30px;
  pointer-events: none;
  border-color: rgba(33, 150, 243, 0);
  border-bottom-color: #2196f3;
  border-width: 10px;
  margin-left: -10px;
}
.sub-menu > li {
  display: inline-block;
  margin-left: 50px;
  font-size: .7rem;
  color: #666;
  cursor: pointer;
}
.sub-menu > li:first-child {
  margin-left: 0;
}
.sub-menu > li:hover {
  /* font-weight: bold; */
  color: #2196f3;
}
.sub-menu > li.on {
  /* font-weight: bold; */
  color: #2196f3;
}

.search > table {
  display: inline-block;
  width: auto;
  vertical-align: top;
  margin-top: 5px;
  float: right;
}
.search::after {
  content: '';
  display: inline-block;
  clear: both;
}