.form1-main {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  margin: 5px auto;
  border: 1px solid black;
  background-color: aquamarine;
  // background-color: linear-gradient(#fff, #a8ad8c);
}

label,
input {
  font-size: 14px;
  // font-weight: bold;

}

p {
  margin-top: 0;
}



.form-control {
  margin-top: 10px;
}

.forms-container-sheet {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 5px;
}

.sheet-patient {
  grid-column: 1/5;
  grid-row: 1/2;
}

.sheet-result {
  grid-column: 1/6;
  grid-row: 2/3;
  // display: grid;
  // grid-template-columns: repeat(12, 1fr);

  .label-result {
    margin-right: 10px;
  }

  .select-box {
    display: flex;
    justify-content: flex-start;
    position: relative;

    .clr-control-inline {
      position: absolute;
      top: -5px;
      left: 60px;
    }
  }

  .sheet-result-label {
    width: 100px;
  }
}

.sheet-btn-review {
  grid-column: 7/9;
  grid-row: 2/3;
}

.sheet-btn-send {
  grid-column: 10/12;
  grid-row: 2/3;
}

input {
  width: 96.7%;
  margin: 5px 0.5%;
  padding: 3px 1%;
}

textarea {
  width: 100%;
}

#comment1,
#comment2 {
  padding: 0;
}

.sheet-summary {
  grid-column: 1/13;
  grid-row: 4/8;
}

.sheet-test {
  grid-column: 1/13;
  grid-row: 8/10;
}

.table-margin-top {
  margin-top: 0 !important;
}

td,
th {
  border: 1px solid #b7b7b7;
}

.sheet-variants {
  grid-column: 1/13;
  grid-row: 10/13;
}

.sheet-comments {
  grid-column: 1/13;
  grid-row: 13/16;
}

.form-textarea {
  width: 100%;
}

.sheet-methods {
  grid-column: 1/13;
  grid-row: 16/19;
}

.sheet-general {
  grid-column: 1/13;
  grid-row: 19/21;
}

.sheet-genes {
  grid-column: 1/13;
  grid-row: 21/29;
}

.filtered-container {
  margin-top: 5px;
  width: 100%;
  height: 500px;
  overflow: scroll;
  border: 1px solid black;
}

.filtered-header {
  margin-top: 0 !important;
}

.sheet-header th {
  position: sticky;
  top: 0;
}

.trash {
  color: red;
  size: 20px;
  background-color: aqua;
}

.trash:hover {
  cursor: pointer;
}

.button-btn {
  font-size: 30px;
  color: white;
  padding: 3px 3px;
  background-color: blue;
  width: 30px;
  height: 20px;
  border-style: none;
  border-radius: 5px;
}

.geneOntology {
  width: 100%;
  height: 88px;
  overflow-y: scroll;
}

.fathmm {
  width: 200px;
  height: 88px;
  overflow: scroll;
}

.pfam {
  width: 200px;
  height: 88px;
  overflow: scroll;
}

.save_mute:hover {
  cursor: pointer;
}
