#wrapper {
  width: 453px;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  table-layout: fixed;
}

td {
  vertical-align: middle;
  padding: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

:host {
  max-width: 100vw;
}

.textarea_02 {
  border: #fff solid 1px;
  color: #666666;
  width: 100%;
  line-height: 160%;
}
