.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 30px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.content label {
  display: inline-block;
  width: 100%;
  text-align: left;
  font-size: 16px;
  color: #666;
  text-align: center;
}

.btn-gp {
  margin-top: 20px;
  text-align: center;
}

.btn-gp>button {
  color: #666;
  border: 1px solid #2196f3;
  background-color: #fff;
  font-size: 11px;
  margin: 0 5px;
}

.btn-gp>button.btn-bg {
  color: #fff;
  border: 1px solid #2196f3;
  background-color: #2196f3;
  font-size: 11px;
}
