<div class="inhouse" >
    <div class="sidemenu"style="width:0px;height:0px;">
    	<!-- 
        <main class="main-content">
            <aside class="sidebar">
                    <div class="menu-admin">
                        <ul class="menu">
                            <li>
                                <div class="title">
                                    <a routerLink="/diag/inhouse/benign" class="active nav-link" routerLinkActive="active">Benigne</a>
                                </div>
                            </li>     
                            <li>
                                <div class="title">
                                   <a routerLink="/diag/inhouse/artifacts" class="active nav-link" routerLinkActive="active">Artifacrts</a> 
                                </div>
                            </li>      
                            <li>
                                <div class="title">
                                   <a routerLink="/diag/inhouse/mutation" class="active nav-link" routerLinkActive="active">Mutation</a> 
                                </div>
                            </li>                     
                            <li>
                                <div class="title">
                                    <a routerLink="/diag/inhouse/comments" class="active nav-link" routerLinkActive="active">Comments</a>
                                </div>
                            </li>  
                            <li>
                                <div class="title">
                                    <a routerLink="/diag/inhouse/genemgn" class="active nav-link bold">유전자관리</a>
                                </div>
                            </li>                                  
                        </ul>
                    </div>
            </aside>        
        </main>
         -->
    </div> 
    <div class="contents">
        <router-outlet></router-outlet>
    </div> 
</div>
 
  
 
